# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>


SetEnvIfNoCase Via trafficmonetize.org spammer=yes
SetEnvIfNoCase Referer trafficmonetize.org spammer=yes

Order allow,deny
Allow from all
Deny from env=spammer
# END WordPress
